.active-link {
  margin-bottom: 2px;
}
.wrap{
	max-width: 1170px;
	margin:0 auto;

/*header styles start*/

}
.button{
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: white;
  border: 0;
  background:#4588B7;

  padding: 8px 16px;
  height: 40px;
  width: 150px;
border-radius: 10px;
  font-size: 18px;
  text-align:  center;
  margin-top: 7px;
}
.button:hover {
  background: none;
  color: #4588B7;
 border: 2px solid #4588B7;

}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
   background-color: #4588B7;
    z-index: 100;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;

}

.header__logo {
  color: white;
  font-weight: 300;
  font-size: 30px;

}

ul {
list-style: none;
margin: 0;
padding: 0;
}
.header__topmenu > li {
display: inline-block;
font-weight: lighter;
margin: 0 auto;
padding: 5px 20px 5px 20px;
position: relative;
border-right: 1px solid #BDBDBD;

}
.header__topmenu li a {
  color: white;
}
.header__topmenu > li:last-child {
margin-right: 0;
border: 0;
padding-right: 0;
}


.header__submenu {
position: absolute;
    padding:25px 3px 0 3px;

top: 100%;
left: 0;
width: 210px;
z-index: 10;
}

.one{
  font-size: 14px;
}
.one .header__submenu {
display: none;
background: #4588B7;
}
.header__submenu li {
  padding: 10px 0;
    border-top: 0.5px solid #DBDBDB;
    color: white;

}

.header__submenu li a {
  display: block;
  width: 100%;
  height: 100%;
}
.one ul li:hover .header__submenu {
display: block;
}
.d5 form {
  position: relative;
  width: 200px;
  height: 30px;

}
.d5 {background: #4588B7;}
.d5 input, .d5 button {
  outline: none;
  background: transparent;
}
.d5 input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  border: 1px solid white;
  transition-duration: .3s;
}
.d5 button {
  border: none;
    font-size: 20px;
    position: absolute;
    top: 7px;
    right: 0;
    cursor: pointer;
}
.icon-search {
  color: white;
}
.d5 input:focus {
 background-color: white;

}
.d5 input:focus::placeholder {
  color: black;
}
.d5 input:focus + .icon-search{
  color: black;
}

::placeholder {
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
 color: white;
}
/*header styles end*/

/*footer styles start*/

.footer-container {
  min-width: 100vw;
  min-height: 50px;
  background-color: #4588B7;
  padding-top: 20px;
}



.footer__contacts-icons li {
  margin-left: 10px;
  color: white;
  font-size: 30px;
  display: inline-block;
  transition: 0.4s;
  cursor: pointer;

}
.footer__contacts-icons li:hover {
  color: black;
}
/*footer styles end*/