{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
	<title>ГГАЭК</title>


	<link rel="stylesheet" href="{% static 'css/normalizer.css' %}">
	<link rel="stylesheet" href="{% static 'css/news.css' %}">
</head>
<body>
		<!-- header start -->
<header class="header">
	<div class="wrap">
	<div class="header__wrapper">
		<div >
				<a href="" class="header__logo" >ГГАЭК</a>
		</div>
		<nav class="one">
		<ul class="header__topmenu">
				<li>
					<a href="#">Колледж</a>
					<ul class="header__submenu">
					<a href=""><li>История</li></a>
					<a href=""><li>Виртуальный музей</li></a>
					<a href=""><li>Музей "Колледж помнит"</li></a>
					<a href=""><li>Фотоальбом</li></a>
					<a href=""><li>Телефон горячей линии</li></a>

					</ul>
				</li>
				<li>
					<a href="#">Студентам</a>
					<ul class="header__submenu">
					<a href=""><li>Заказ на подготовку кадров</li></a>
					<a href=""><li>Из уст молодых специалистов</li></a>
					<a href=""><li>График образовательного процесса</li></a>
					<a href=""><li>Общежитие</li></a>
					<a href=""><li>Спортивный отдел</li></a>
					<a href=""><li>Расписание</li></a>
					</ul>
				</li>
				<li>
					<a href="#">Aбитуриентам</a>
					<ul class="header__submenu">
					<a href=""><li>Приемная комиссия</li></a>
					<a href=""><li>Документы для поступления</li></a>
					<a href=""><li>Специальность колледжа</li></a>
					<a href=""><li>Почему нужно выбрать нас</li></a>
					</ul>
				</li>
				<li>
					<a href="#">Одно окно</a>
						<ul class="header__submenu">
					<a href=""><li>Администрация</li></a>
					<a href=""><li>Административные процедуры</li></a>
					<a href=""><li>Электронное обращение</li></a></ul>
				</li>
				<li><a href="{% url 'news' %}">Новости</a></li>
				<li>
					<a href="#">Контакты</a>
						<ul class="header__submenu">
					<a href=""><li>Мы на карте</li></a>
					<a href=""><li>Телефонный справочник</li></a>
					<a href=""><li>Электронное обращение</li></a>

					</ul>
				</li>
				<li>
					<a href="#">Сотрудникам</a>
							<ul class="header__submenu">
					<a href=""><li>Коорпоративнй портал</li></a>
					<a href=""><li>Нормативные документы</li></a>
				    </ul>
				</li>

        </ul>

		</nav>
			<div class="d5">
			<form>
                <label>
                    <input type="text" placeholder="Поиск" >
                </label>
                <button type="submit" class="header__search-icon icon-search"></button>
			</form>
			</div>
	</div>
	</div>
</header>
<!-- header end -->

{% block content %}
{% endblock %}

        <!-- footer start -->
<footer class="footer">
	<div class="footer-container">
		<div class="wrap">
			<div class="footer__contacts">
				<ul class="footer__contacts-icons">
						<li class="icon-instagram"></li>
						<li class="icon-vk"></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
        <!-- footer end -->

{% block scripts %}
{% endblock %}
</body>
</html>
