{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
	{% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/iconsfont.css' %}">
	<link rel="stylesheet" href="{% static 'css/normalizer.css' %}">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}
    {% endblock %}
</head>
<body>
		<!-- header start -->
<header class="header">
	<div class="wrap">
	<div class="header__wrapper">
		<div >
				<a href="" class="header__logo" >ГГАЭК</a>
		</div>
		<nav class="one">
		<ul class="header__topmenu">
				<li>
					<a href="#">Колледж</a>
					<ul class="header__submenu">
					<li><a href="">История</a></li>
					<li><a href="">Виртуальный музей</a></li>
					<li><a href="">Музей "Колледж помнит"</a></li>
					<li><a href="">Фотоальбом</a></li>
					<li><a href="">Телефон горячей линии</a></li>

					</ul>
				</li>
				<li>
					<a href="#">Студентам</a>
					<ul class="header__submenu">
					<li><a href="">Заказ на подготовку кадров</a></li>
					<li><a href="">Из уст молодых специалистов</a></li>
					<li><a href="">График образовательного процесса</a></li>
					<li><a href="">Общежитие</a></li>
					<li><a href="">Спортивный отдел</a></li>
					<li><a href="">Расписание</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Aбитуриентам</a>
					<ul class="header__submenu">
					<li><a href="">Приемная комиссия</a></li>
					<li><a href="">Документы для поступления</a></li>
					<li><a href="">Специальность колледжа</a></li>
					<li><a href="">Почему нужно выбрать нас</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Одно окно</a>
						<ul class="header__submenu">
					<li><a href="">Администрация</a></li>
					<li><a href="">Административные процедуры</a></li>
					<li><a href="">Электронное обращение</a></li>
                        </ul>
				</li>
				<li><a href="{% url 'news' %}">Новости</a></li>
				<li>
					<a href="#">Контакты</a>
						<ul class="header__submenu">
					<li><a href="">Мы на карте</a></li>
					<li><a href="">Телефонный справочник</a></li>
					<li><a href="">Электронное обращение</a></li>

					</ul>
				</li>
				<li>
					<a href="#">Сотрудникам</a>
							<ul class="header__submenu">
					<li><a href="">Коорпоративнй портал</a></li>
					<li><a href="">Нормативные документы</a></li>
				    </ul>
				</li>

        </ul>

		</nav>
			<div class="d5">
			<form>
                <label>
                    <input type="text" placeholder="Поиск" >
                </label>
                <button type="submit" class="header__search-icon icon-search"></button>
			</form>
			</div>
	</div>
	</div>
</header>
<!-- header end -->

{% block content %}
{% endblock %}

        <!-- footer start -->
<footer class="footer">
	<div class="footer-container">
		<div class="wrap">
			<div class="footer__contacts">
				<ul class="footer__contacts-icons">
						<li class="icon-instagram"></li>
						<li class="icon-vk"></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
        <!-- footer end -->

{% block scripts %}
{% endblock %}
</body>
</html>
