{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
	{% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/iconsfont.css' %}">
	<link rel="stylesheet" href="{% static 'css/normalizer.css' %}">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}
    {% endblock %}
</head>
<body>
		<!-- header start -->
<header class="header">
	<div class="wrap">
	<div class="header__wrapper">
		<div >
				<a href="" class="header__logo" >ГГАЭК</a>
		</div>
		<nav class="one">
		<ul class="header__topmenu">
				<li>
					<a href="#">Колледж</a>
					<ul class="header__submenu">
					<li><a href="">История</a></li>
					<li><a href="">Виртуальный музей</a></li>
					<li><a href="">Музей "Колледж помнит"</a></li>
					<li><a href="">Фотоальбом</a></li>
					<li><a href="">Телефон горячей линии</a></li>

					</ul>
				</li>
				<li>
					<a href="#">Студентам</a>
					<ul class="header__submenu">
					<li><a href="">Заказ на подготовку кадров</a></li>
					<li><a href="">Из уст молодых специалистов</a></li>
					<li><a href="">График образовательного процесса</a></li>
					<li><a href="">Общежитие</a></li>
					<li><a href="">Спортивный отдел</a></li>
					<li><a href="">Расписание</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Aбитуриентам</a>
					<ul class="header__submenu">
					<li><a href="">Приемная комиссия</a></li>
					<li><a href="">Документы для поступления</a></li>
					<li><a href="">Специальность колледжа</a></li>
					<li><a href="">Почему нужно выбрать нас</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Одно окно</a>
						<ul class="header__submenu">
					<li><a href="">Администрация</a></li>
					<li><a href="">Административные процедуры</a></li>
					<li><a href="">Электронное обращение</a></li>
                        </ul>
				</li>
				<li><a href="{% url 'news' %}">Новости</a></li>
				<li>
					<a href="#">Контакты</a>
						<ul class="header__submenu">
					<li><a href="">Мы на карте</a></li>
					<li><a href="">Телефонный справочник</a></li>
					<li><a href="">Электронное обращение</a></li>

					</ul>
				</li>
				<li>
					<a href="#">Сотрудникам</a>
							<ul class="header__submenu">
					<li><a href="">Коорпоративнй портал</a></li>
					<li><a href="">Нормативные документы</a></li>
				    </ul>
				</li>

        </ul>

		</nav>
			<div class="d5">
			<form>
                <label>
                    <input type="text" placeholder="Поиск" >
                </label>
                <button type="submit" class="header__search-icon icon-search"></button>
			</form>
			</div>
        <div class="header__registration dropdown">
			<button onclick="myFunction()" class="header__button icon-user dropbtn"></button>
			<div id="myDropdown" class="header__dropdown-content dropdown-content">
				<a href="#" class="js-open-modal" data-modal="1">Войти</a>
				<a href="#" class="js-open-modal" data-modal="2">Регистрация</a>
			</div>
		</div>

        <div class="modal" data-modal="1">
		<!--   Svg иконка для закрытия окна  -->
		<svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"></path></svg>
		<form class="signin__form" action="" method="POST">
            {% if request.auth_form.errors %}
                <div class="errorMarker" style="display: none"></div>
            {% endif %}
            {% csrf_token %}
			<div class="header__registration registration">
				<h1 class="signin__title">Авторизация</h1>
				<p class="signin__text" >Заполните поля для того, чтобы войти</p>
				<hr>

                <label for="email"><b>Электронная почта</b></label>
                {{ request.auth_form.email }}

                <label for="psw"><b>Пароль</b></label>
                {{ request.auth_form.password }}

                <hr>
				<button type="submit" class="signin__button button">Войти</button>
			</div>

			<div class="signin__register">
				<p>Нет аккаунта?<a href="#" class="js-modal-close js-open-modal" data-modal="2"> Создать.</a></p>
			</div>
		</form>
	</div>

	<div class="modal" data-modal="2">
		<!--   Svg иконка для закрытия окна  -->
		<svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"></path></svg>
		<form class="registration__form" action="" method="POST">
            {% if request.register_form.errors %}
                <div class="errorMarker" style="display: none"></div>
            {% endif %}
            {% csrf_token %}
			<div class="header__registration registration">
				<h1 class="registration__title">Регистрация</h1>
				<p class="registration__text" >Заполните поля для того, чтобы создать аккаунт.</p>
				<hr>

                {{ request.register_form }}

                <hr>
				<button type="submit" class="registration__button button">Создать аккаунт</button>
			</div>

			<div class="registration__signing ">
				<p>Уже есть аккаунт?<a href="#" class="js-modal-close js-open-modal" data-modal="1"> Войти.</a></p>
			</div>
		</form>
	</div>

	<!-- Подложка под модальным окном -->
	<div class="overlay js-overlay-modal"></div>

	</div>
	</div>
</header>
<!-- header end -->


{% block content %}
{% endblock %}

        <!-- footer start -->
<footer class="footer">
	<div class="footer-container">
		<div class="wrap">
			<div class="footer__contacts">
				<ul class="footer__contacts-icons">
						<li class="icon-instagram"></li>
						<li class="icon-vk"></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
        <!-- footer end -->
        <script src="{% static 'js/auth.js' %}"></script>

{% block scripts %}
{% endblock %}
</body>
</html>
