{% extends 'base.html' %}
{% load static %}
{% load news_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}

{% block title %}
    <title>NEWS</title>
{% endblock %}

{% block content %}
<!-- news start -->
<section class="news">
	<div class="container">
	<div class="wrap">
		<div class="news__header">
		<p class="news__title title">Новости</p>
		<div class="dropdown">
		  <button onclick="myFunction()" class="dropbtn">Выпадающий</button>
            <div id="myDropdown" class="dropdown-content">
                <button>Все</button>
                {% for category in categories %}
                  <button>{{ category.title }}</button>
                {% endfor %}
		  </div>
		</div>

		</div>
		<section class="news__wrapper" id="news__wrapper">
			<div class="news__cards">

            {% for post in news %}

				<figure class="news__card">
					  <a href="{% url 'news_detail' post.slug %}">
                          <div class="news__image-block"><img src="{{ post.cover.url }}" class="news__image" alt="news1"></div>
                      </a>
					<figcaption>
					    <div class="news__date"><span class="day">{{ post.date.day }}</span><span class="month">{{ post.date|date:"b" }}</span></div>
					    <h3 class="news__card-title">{{ post.title }}</h3>
					    <p>{{ post.announce }}</p>
                        <span class="news__card-category">{{ post.category }}</span>
					    <footer class="news__footer">
					      <div class="news__footer-block"><span class="news__views icon-1"></span>{{ post.views.count }}</div>
					 	  <div class="news__footer-block"><span class="news__like icon-like"></span>{{ post.likes.count }}</div>
					 	  <div class="news__footer-block"><span class="news__dislike icon-like"></span>{{ post.dislikes.count }}</div>
					    </footer>
					  </figcaption>

				</figure>

            {% endfor %}

			</div>
			<ul class="news__nav">
            {% if page_obj.has_previous %}
                <li class="news__nav-block">
                    <button class="news__nav-number"><<</button>
                </li>
            {% endif %}
            {% if page_obj.number != 1 %}
				<li class="news__nav-block">
						<button class="news__nav-number">1</button>
				</li>
            {% endif %}
            {% if  1 < page_obj.number|subtract:1  %}
				<li class="news__nav-dots" >...</li>
            {% endif %}
				<li class="news__nav-block">
						<button class="news__nav-number">{{ page_obj.number }}</button>
				</li>
            {% if  1 < paginator.num_pages|subtract:page_obj.number  %}
				<li class="news__nav-dots" >...</li>
            {% endif %}
            {% if page_obj.number != paginator.num_pages %}
				<li class="news__nav-block new">
						<button class="news__nav-number">{{ paginator.num_pages }}</button>
				</li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="news__nav-block">
                        <button class="news__nav-number">>></button>
                </li>
            {% endif %}
			</ul>
		</section>

		</div>

	</div>
</section>
<!-- news end -->
{% endblock %}


{% block scripts %}
<script src="{% static 'js/news.js' %}"></script>

    <script>

    function get_page_data(page, category) {
        let url = String({% url 'news' %})

        if (page == null) {
            if (category === 'Все') {
                url += `?page=1`
            } else {
                url += `?page=1&category=${category}`
            }
        }

        if (category == null){
            if (location.href.match(/category=([A-Za-z]+)/) != null) {
                category = location.href.match(/category=([A-Za-z]+)/)[0].split('=')[1]
                url += `?page=${page}&category=${category}`
            } else if (page != null) {
                url += `?page=${page}`
            }
        }

        fetch(url)
            .then(response => response.text())
            .then(response => {
                let wrapper = document.querySelector('#news__wrapper')

                let new_section = document.createElement('section')
                new_section.className = 'news__wrapper'
                new_section.id = 'news__wrapper'
                new_section.innerHTML = response.match(/(<section class="news__wrapper" id="news__wrapper">((.|\n|\r)*)<\/section>)/)[0]

                wrapper.replaceWith(new_section)

                update_page_click_event()

                history.replaceState(null,null, url)
                }
            )
    }

    function update_page_click_event() {
        let page_buttons = document.querySelectorAll('.news__nav-number')
        page_buttons.forEach(element => {
            element.onclick = function (e) {
                let text = e.target.textContent

                let currentPage = location.href.match(/page=(\d+)/)
                let nextPage

                if (currentPage == null) {
                    currentPage = 1
                } else {
                    currentPage = Number(currentPage[0].split('=')[1])
                }

                console.log(text)

                if (text === '>>') {
                    nextPage = currentPage + 1
                } else if (text === '<<') {
                    nextPage = currentPage - 1
                } else {
                    nextPage = Number(text)
                }
                console.log(nextPage)

                get_page_data(nextPage, null)
            }
        })
    }

    function update_cat_click_event() {
        let category_buttons = document.querySelectorAll('.dropdown-content button')

        category_buttons.forEach(element => {
        element.onclick = function (event) {
            let category = event.target.textContent

            get_page_data(null, category)
        }
     })
     }

    update_cat_click_event()
    update_page_click_event()

    </script>
{% endblock %}